# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# sphinx build folder
_build
_static
_templates

# C extensions
*.so

*.pyc

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

.cache/
.tox/
